---
layout: layout.njk
title: Free emotes
---

<p>Welcome in! <br /><br /> Are you looking for some new emotes for your channel, but you can't afford to commission an artist to make you one? You've come to the right place! The emotes you'll find on this website can be used by anyone for free.</p>

<h2>Recent ✨</h2>


{% set sortedEmotes = collections.emotes | sort(attribute="data.date") | reverse %}

<div class="grid" id="emoteGrid">
  {% set sortedEmotes = collections.emotes | reverse %}
  {% for emote in sortedEmotes.slice(0, 5) %}
    {% if emote.inputPath != "./src/emotes/index.md" %}
      {% set tags = emote.data.tags or [] %}
      <a
        class="card"
        href="{{ emote.url }}"
        data-tags="{{ tags | join(' ') | lower }}"
      >
        <img src="{{ emote.data.image }}" alt="{{ emote.data.title }}" width="112" height="112">
      </a>
    {% endif %}
  {% endfor %}
</div>

<h2>Categories</h2>
  <div class="grid">
    <figure class="grid-item">
      <a href="/search/?q=spongebob">
        <img src="/images/patrickbrows-112.gif" width="112" height="112">
        <figcaption>Spongebob</figcaption>
      </a>
    </figure>
    <figure class="grid-item">
      <a href="/search/?q=pokemon">
        <img src="/images/DittoArrive.gif" width="112" height="112">
        <figcaption>Pokémon</figcaption>
      </a>
    </figure>
    <figure class="grid-item">
      <a href="/search/?q=finalfantasy">
        <img src="/images/chocobo-yellow-112.gif" width="112" height="112">
        <figcaption>Final Fantasy</figcaption>
      </a>
    </figure>
  </div>